/* リセットCSS */
body{
  font-size: 14px;
  color: #494949;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 10px 0;
  margin: 0;
}
ul, li{
  padding: 0;
  margin: 0;
}
/* リセットCSS */

*{
  box-sizing: border-box;
}
p{
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 15px;
}
b{
  color: rgb(70, 70, 70);
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
}
.heading{
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 25px;
}
.font-space{
  margin-left: 20px;
}

.content{
  max-width: 750px;
  width: auto;
  margin: 0 auto;
}

.catch-copy{
  width: 100%;
  height: 380px;
  background: url(images/catch-copy.png) no-repeat 100% center/cover;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first{
  padding: 20px 0 0 0;
}
.second{
  padding: 0;
}
.catch-copy h1{
  font-size: 30px;
}
.catch-copy span{
  font-size: 60px;
}

.link{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.reservation-here{
  width: 300px;
}
.btn{
  width: 250px;
  height: 60px;
  background-color: #00E000;
  line-height: 60px;
}

.sympathy{
  width: 100%;
  height: 600px;
  position: relative;
}
.sympathy-back{
  width: 600px;
  height: 100%;
  background-color: #F3F3F3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.sympathy-band{
  width: 100%;
  height: 360px;
  background-color: #CFEDCC;
  position: absolute;
  top: 120px;
  left: 0px;
}
.sympathy-img{
  width: 50%;
  position: absolute;
  top: 190px;
  left: 0px;
}
.sympathy-text{
  width: 50%;
  height: 375px;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefit{
  width: 100%;
  height: 440px;
  position: relative;
}
.benefit-back{
  width: 620px;
  height: 100%;
  background-color: #F3F3F3;
  position: absolute;
  top: 0px;
  right: 0px;
}
.benefit-img{
  width: 50%;
  position: absolute;
  top: 50px;
  right: 0px;
}
.benefit-text{
  width: 50%;
  height: 375px;
  background-color: white;
  position: absolute;
  top: -40px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction{
  width: 100%;
  height: 680px;
  position: relative;
}
.introduction-back{
  width: 500px;
  height: 100%;
  background-color: #F3F3F3;
  position: absolute;
  top: 0px;
  right: 0px;
}
.introduction-band{
  width: 100%;
  height: 360px;
  background-color: #CFEDCC;
  position: absolute;
  top: 0px;
  left: 0px;
}
.introduction-img{
  width: 390px;
  position: absolute;
  top: -40px;
  left: 0px;
}
.introduction-text{
  width: 425px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thoughts{
  width: 100%;
  height: 500px;
  position: relative;
}
.thoughts-back{
  width: 500px;
  height: 100%;
  background-color: #F3F3F3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.thoughts-img{
  width: 50%;
  position: absolute;
  top: 100px;
  right: 0px;
}
.thoughts-text{
  width: 415px;
  height: 430px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-content{
  width: 100%;
  height: 1260px;
  background-color: #CFEDCC;
  padding: 50px 0 0 75px;
  position: relative;
}
.left-heading{
font-size: 30px;
line-height: 40px;
}
.mental-text{
  width: 440px;
  height: 340px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 75px;
}
.mental-img{
  position: absolute;
  top: 435px;
  right: 75px;
}
.mental-bubble-text{
  position: absolute;
  top: 495px;
  right: 135px;
}
.asset-text{
  width: 440px;
  height: 340px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 750px;
  left: 75px;
}
.asset-img{
  position: absolute;
  top: 1035px;
  right: 75px;
}
.asset-bubble-text{
  position: absolute;
  top: 1095px;
  right: 140px;
}

.fee{
  width: 100%;
  height: 900px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fee-plan{
  width: 600px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  left: 75px;
}
.fee-top p{
  font-size: 30px;
  border-bottom: 2px solid #00E000;
}
.fee-center{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 125px;
}
.fee-center p{
  border-bottom: 2px solid #00E000;
}
.fee-bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 27px;
}
.fee-center p, .fee-bottom p{
  font-size: 20px;
}
.first-3000{
  position: absolute;
  top: 100px;
  left: 0px;
}
.first-hearing{
  position: absolute;
  top: 470px;
  right: 0px;
}

.customer-voice{
  width: 100%;
  height: 1600px;
  background-color: #F3F3F3;
  position: relative;
}
.customer-voice-band{
  width: 100%;
  height: 360px;
  background-color: #CFEDCC;
  position: absolute;
  top: 0px;
  left: 0px;
}
.customer-voice-img{
  width: 460px;
  position: absolute;
  top: -150px;
  left: 0px;
}
.customer-voice-text{
  width: 650px;
  height: 1350px;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 50px 75px;
}
.customer-voice-heading{
  font-size: 30px;
  margin-bottom: 30px;
}
.customer1-text{
  height: 320px;
  border-bottom: 1px solid #494949;
}
.customer1-name {
  position: absolute;
  top: 370px;
  right: 150px;
}
.customer1-img{
  position: absolute;
  top: 320px;
  right: 50px;
}
.customer2-text{
  height: 220px;
  border-bottom: 1px solid #494949;
  margin-top: 50px;
}
.customer2-name {
  position: absolute;
  top: 635px;
  right: 150px;
}
.customer2-img{
  position: absolute;
  top: 585px;
  right: 50px;
}
.customer3-text{
  height: 220px;
  border-bottom: 1px solid #494949;
  margin-top: 50px;
}
.customer3-name {
  position: absolute;
  top: 905px;
  right: 150px;
}
.customer3-img{
  position: absolute;
  top: 855px;
  right: 50px;
}
.last-here{
  position: absolute;
  top: 1120px;
  left: 175px;
}
.last-btn{
  position: absolute;
  top: 1200px;
  left: 200px;
}

@media (max-width: 749px) {
}
