/* リセットCSS */
body{
  font-size: 14px;
  color: #494949;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 10px 0;
  margin: 0;
}
ul, li{
  padding: 0;
  margin: 0;
}
/* リセットCSS */

*{
  box-sizing: border-box;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(166,153,121,0.90);
  z-index: 10;
  height: 50px;
  display: flex;
  align-items: center;
}
header a{
  text-decoration: none;
  color: white;
}
.header_name{
  margin: 0 10px 0 20px;
  font-size: 23px;
}
.header_site{
  font-size: 15px;
}

.main_view{
  padding: 30vw 3vw 20vw;
  height: 100vw;
  margin: 0;
  background: url(images/1-min.png) no-repeat 0 center;
  background-size: cover;
}
.title_box{
  color: #A59979;
}
.title_1{
  font-size: 7vw;
  padding: 0px;
  line-height: 8vw;
  letter-spacing: 5px;
}
.title_2{
  font-size: 5vw;
  padding: 0px;
  margin-bottom: 4vw;
  letter-spacing: 3px;
}
.title_3{
  font-size: 4vw;
  padding: 0px;
}
.title_4{
  font-size: 4vw;
  padding: 0px;
}

.top_message{
  padding: 10vw 3vw;
}
.top_message p{
  font-size: 4vw;
  line-height: 170%;
  color: #A59979;
}

.btn{
  display: flex;
  justify-content: center;
}
.reservation_btn{
  text-decoration: none;
  background-color: #A59979;
  color: white;
  letter-spacing: 5vw;
  font-size: 6vw;
  padding: 2vw 25vw 2vw 30vw;
}

.top_link_content {
  margin: 6vw 0 0;
}
.top_link_content .photo {
  line-height: 0;
}
img {
  max-width: 100%;
}
.top_link_content h3 {
  margin: 4vw 0 0;
}
.content_title {
  font-size: 6vw;
  line-height: 170%;
  color: #A59979;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
}
.content_title:first-letter {
  font-size: 8vw;
}
.content_text{
  font-size: 4vw;
  line-height: 170%;
  color: #494949;
  letter-spacing: 1px;
}
.sympathy_text{
  padding-left: 27vw;
}
.benefit_text{
  padding-left: 17vw;
}
.introduction_text{
  padding-left: 5vw;
}

.support-content{
  background: #f7f3f0;
  margin-top: 7vw;
}
.support-title{
  padding: 5vw 0;
}
.mental-text{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5vw 5vw 15vw 5vw;
  width: 90%;
  margin-left: 10%;
}
.mental_h{
  font-size: 6vw;
  line-height: 170%;
  color: #A59979;
  letter-spacing: 2px;
  margin-right: 9vw;
}
.mental_p{
  font-size: 4vw;
  line-height: 170%;
  color: #494949;
}
.mental-bubble-text{
  position: relative;
}
.mental-bubble-text p{
  width: 88%;
  padding: 15vw 0 5vw 9vw;
  font-size: 4vw;
  line-height: 170%;
  color: #494949;
  position: absolute;
  top: -15vw;
  left: 0;
  background-image: url(images/9.png);
  background-size: contain;
}
.asset-text{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5vw 5vw 15vw 5vw;
  width: 90%;
  margin: 70vw 0 0 10%;
}
.asset_h{
  font-size: 6vw;
  line-height: 170%;
  color: #A59979;
  letter-spacing: 2px;
  margin-right: 9vw;
}
.asset_p{
  font-size: 4vw;
  line-height: 170%;
  color: #494949;
  margin-right: 14vw;
}
.asset-bubble-text{
  position: relative;
}
.asset-bubble-text p{
  width: 91%;
  padding: 13vw 0 8vw 9vw;
  font-size: 4vw;
  line-height: 170%;
  color: #494949;
  position: absolute;
  top: -15vw;
  left: 0;
  background-image: url(images/10.png);
  background-size: cover;
}
.back{
  height: 32vw;
  margin-bottom: 13vw;
}

.thoughts_text{
  padding-left: 10vw;
}
.fee_link{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-img{
  width: 20vw;
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: -1;
}
.fee_text{
  margin-top: 4vw;
  border: 1px solid #A59979;
  padding: 14vw 15vw 10vw 15vw;
  text-align: center;
  box-shadow: 1vw 1vw 2vw 1vw #A59979;
  position: relative;
}
.customer_voice_text{
  padding-left: 5vw;
}
.right{
  margin-left: 50vw;
}

.last_btn{
  margin: 10vw 0;
}

@media (min-width: 769px) {
  header{
    height: 75px;
  }
  .header_name{
    margin: 0 20px 0 20vw;
    font-size: 30px;
  }
  .header_site{
    font-size: 20px;
  }

  .main_view {
    background: url(images/8-min.png) no-repeat center;
    background-size: cover;
    height: 870px;
    padding: 395px 20vw 0;
  }
  .title_1 {
    font-size: 45px;
    line-height: 50px;
  }
  .title_2{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .title_3{
    font-size: 25px;
  }
  .title_4{
    font-size: 25px;
  }

  .top_message {
    padding: 90px 0;
  }
  .top_message p {
    font-size: 20px;
    text-align: center;
  }
  .none_769{
    display: none;
  }

  .reservation_btn{
    letter-spacing: 40px;
    font-size: 30px;
    padding: 15px 170px 15px 210px;
  }

  .top_link{
    display: flex;
  }
  .top_link_content {
    width: calc( 100%/3);
  }
  .top_link_content h3 {
    margin: 2vw 0 0;
  }
  .content_title {
    font-size: 2vw;
  }
  .content_title:first-letter {
    font-size: 3vw;
  }
  .sympathy_text{
    padding-left: 10vw;
  }
  .benefit_text{
    padding-left: 7vw;
  }
  .introduction_text{
    padding-left: 0;
  }
  .content_text {
    font-size: 1.2vw;
  }

  .support-content{
    margin-top: 5vw;
  }
  .support-title{
    padding: 3vw 0;
  }
  .support-contents{
    display: flex;
  }
  .support-left{
    width: 50%;
  }
  .support-right{
    width: 50%;
  }
  .mental-text{
    width: 37vw;
    margin-left: 5vw;
    align-items: center;
    padding: 5vw 5vw 5vw 5vw;
  }
  .mental_h{
    font-size: 2vw;
    margin-right: 0vw;
  }
  .mental_p {
    font-size: 1.2vw;
  }
  .mental-bubble-text p {
    font-size: 1.2vw;
    padding: 7vw 2vw 3vw 2vw;
    width: 81%;
    background-image: url(images/12.png);
    background-size: cover;
    top: -5vw;
    left: auto;
    right: 1vw;
  }
  .asset-text{
    width: 37vw;
    align-items: center;
    margin: 0 0 0 5vw;
    padding: 5vw 5vw 5vw 5vw;
  }
  .asset_h {
    font-size: 2vw;
    margin-right: 0vw;
  }
  .asset_p {
    font-size: 1.2vw;
    margin-right: 0;
  }
  .asset-bubble-text p {
    font-size: 1.2vw;
    padding: 5vw 2vw 3vw 6vw;
    width: 70%;
    top: -5vw;
    right: 3vw;
    left: auto;
    background-image: url(images/13.png);
  }
  .back {
    height: 22vw;
    margin-bottom: 0;
  }

  .thoughts_text {
    padding-left: 5vw;
  }
  .fee_text{
    margin-top: 1vw;
    padding: 7vw 7vw 5vw 7vw;
    box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #A59979;
  }
  .first-img{
    width: 7vw;
    top: 2.7vw;
    left: 2.2vw;
  }
  .center{
    display: flex;
    justify-content: center;
  }
  .customer_voice_text {
    padding-left: 0;
  }
  .right {
    margin-left: 16vw;
  }

  .last_btn {
    margin: 7vw 0;
  }
}
